* {
    padding: 0;
    margin: 0;
}

p {
    color: white;
}

body {
    background: #000;
    width: 100%;
    height: 100vh;
}

.control-button {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 100px;
    height: 100px;
}

.pause {
    display: none;
}

.play {
    display: none;
}

.count {
    color: #4a5568;
}
.music {
    color: #4a5568;
}
.bar {
    color: #4a5568;
}
.dance {
    color: #4a5568;
}
.face_control {
    color: #4a5568;
}
.exit {
    color: #4a5568;
}



