* {
    padding: 0;
    margin: 0;
}

body {
    background: #000;
    width: 100%;
    height: 100vh;
}

.control-button {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 100px;
    height: 100px;
}

.pause {
    display: none;
}

.bar {
    color: white;
}

