* {
    padding: 0;
    margin: 0;
}

body {
    background: #000;
    width: 100%;
    height: 100vh;
}

.control-button {
    position: absolute;
    bottom: 10px;
    left: 75px;
    width: 100px;
    height: 100px;
}

.pause {
    display: none;
}

.play {
    display: none;
}

.exit {
    position: absolute;
    bottom: 10px;
    right: 75px;
}

.exit a {
    display: block;
    color: #718096;
    font-family: 'Press Start 2P', cursive;
    margin-bottom: 10px;
    width: 400px;
    text-decoration: none;
}

.club {
    color: #4a5568;
    border: 1px solid white;
    width: 90%;
    margin: 0 auto;
    height: 80%;
}

.place  {
    color: #718096;
    font-family: 'Press Start 2P', cursive;
    padding: 10px;
}

.value {
    padding-left: 10px;
}

.all_without_music {
    width: 100%;
    height: 80%;
    display: flex;
    position: relative;
}

.bar_with_dance {
    width: 98%;
    position: relative;
}

.upper_face_control, .upper_music, .upper_bar, .upper_dance {
    border: 1px solid white;
    position: relative;

}

.upper_face_control {
    top: 10px;
    left: 10px;
    width: 30%;
    height: 90%;
}
.upper_music {
    width: 98%;
    height: 18%;
    left: 1%;
    right: 1%;
}
.upper_bar {
    width: 96%;
    height: 50%;
    top: 2%;
    left: 2%;
}
.upper_dance {
    width: 96%;
    height: 40%;
    top: 2%;
    left: 2%;
}

.face_control, .music, .bar, .dance {
    font-family: 'VT323', monospace;
}



